@using CreditBook.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Долговая книга</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="search-block">
        <div class="search-string-block">
            <div class="search-block-title">
                Поиск
            </div>
            <form action="~/Person/IndexSearch" method="get">
                <input class="search-string" type="search" name="name" value="" />
                @*<button class="btn search-btn btn-search" type="submit">Поиск</button>*@
            </form>
        </div>
        <ul class="list">
            @foreach (Person person in ViewBag.Persons)
            {
                @*<li class="list-search" id="@person.Id"><button class="list-search-button"> @person.Name</button></li>*@
             <li class="list-search" id="@person.Id">
                 <a href="/Person/Index/@person.Id" class="list-search-link">
                     @if (person.Id != @ViewBag.Person.Id)
                     {
                         <div class="list-search-button">
                             <div class="person-icon">
                             </div>
                             <div class="person-txt">
                                 <div class="list-search-button-surname">
                                     @person.Surname
                                 </div>
                                 <div class="list-search-button-name">
                                     @person.Name @person.Patronymic
                                 </div>
                             </div>
                         </div>
                     }
                     else
                     {
                         <div class="list-search-button-active">
                             <div class="person-icon">
                             </div>
                             <div class="person-txt">
                                 <div class="list-search-button-surname">
                                     @person.Surname
                                 </div>
                                 <div class="list-search-button-name">
                                     @person.Name @person.Patronymic
                                 </div>
                             </div>
                         </div>
                     }
                 </a>
             </li>
            }
        </ul>
        <a href="/Person/Add" class="btn search-btn">Добавить</a>
    </div>
    <div class="info-block">
        <div class="main-info">
            @if (ViewBag.Person.Id != 0)
            {
                <div class="main-info-title">
                    @ViewBag.FIO
                </div>
                <div class="last-modify-data">
                    Последнее изменение: @ViewBag.Person.LastModifyData
                </div>
                <div class="main-info-icon">

                </div>
                <div class="main-info-table">
                    <table>
                        <tr>
                            <td style="font-weight: bold;">Id: </td>
                            <td>@ViewBag.Person.Id</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Фамилия: </td>
                            <td>@ViewBag.Person.Surname</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Имя: </td>
                            <td>@ViewBag.Person.Name</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Отчество: </td>
                            <td>@ViewBag.Person.Patronymic</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Номер телефона: </td>
                            <td>@ViewBag.Person.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Остаток долга: </td>
                            <td>@ViewBag.Person.Credit</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Последнее изменение: </td>
                            <td>@ViewBag.Person.LastModifyData</td>
                        </tr>
                    </table>
                </div>
                <div class="main-btn-edit">
                    <a href="/Person/Reduce/@ViewBag.Person.Id" class="btn btn-edit">Уменьшить долг</a>
                    <a href="/Person/Increase/@ViewBag.Person.Id" class="btn btn-edit">Увеличить долг</a>
                    <a href="/Person/Edit/@ViewBag.Person.Id" class="btn btn-edit">Редактировать</a>
                    <a href="/Person/Delete/@ViewBag.Person.Id" class="btn btn-edit">Удалить</a>
                </div>
                <table class="table table-sm table-striped table-bordered">
                    <caption>Аудит</caption>
                    <thead>
                        <tr>
                            <th class="operation">Имя операции</th>
                            <th class="amount">Сумма</th>
                            <th class="data-operation">Дата операции</th>
                        </tr>
                    </thead>
                </table>
                <div class="audit">
                    <table class="table table-sm table-striped table-bordered">
                        @foreach (var audit in ViewBag.Audits)
                        {
                            <tr>
                                <td class="operation">@audit.Operation</td>
                                <td class="amount">@audit.Amount</td>
                                <td class="data-operation">@audit.DataOperation</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</body>
</html>